footer {
  background-color: #595959;
}
.box1 h4{
  color: #e6e6e6;
}
.box1 {
 margin: 0 auto;
 padding: 10px;
}
.social a {
  /* tamanho da imagem */
  height: 32px;
  width: 32px;

  /* image replacement */
  display: block;
  text-indent: -9999px;  
}

.social a[href*="facebook.com"] {
  background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
  background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
  background-image: url(../img/googleplus.png);
}

footer {
  padding: 10px 0;
  clear: both;
}

footer .box1 {
  position: relative;
}

.social {
  background-color: #595959;
  position: absolute;
  top: 12px;
  right: 0;
}
.social li {
  list-style-type: none;
  float: left;
  margin-left: 25px;
}
