body {
	background-color: #e6e6e6;
}
.additions {
	margin-top: 55px;
	background-color : #f2f2f2;
}

figure {
	text-align: center;
	margin-bottom: 20px;
}
figcaption h4 {
	color: #a4a6a8;
	font-weight: bold;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.update {
	text-align: center;
}
.box {
	padding-top: 10px;
	padding-bottom: 10px;
}

.img-thumbnail {
	height: 250px;
	width: 100%;
}

.destaques {
	padding-top: 45px;
	color: #737373;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-align: center;
}
.destaque1 {
	color: #737373;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-align: center;
}
.destaque {
	color: #737373;
	margin-top: 20px;
	padding-top: 20px;
	font-size: 20px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.block {
	margin-bottom: 0 auto;
	background-color: #e6e6e6;
}
.diferenciais  {
	margin-bottom: 0;
	list-style-type: none;
	color: #737373;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.diferenciais figure {
	padding-top: 20px;
	text-align: center;
}

.diferenciais figure figcaption{
	padding-top: 20px;
}

.display {
	position: absolute;
	top: 150px;
}
.display figure {
	text-align: center;
	margin-right: 40px;
	display: inline-block;
}

#joinha {
	padding-bottom: 10px;
}
.consultaservico figcaption{
	margin-top: 40px;
	text-align: center;
}