
body {
	background-color: #e6e6e6;
}


.item {
	width: 100%;
}

.panel {
	margin-right: 0;
	padding-right: 20px;
}

.txt p, .txt1 p{
	margin: 0 auto;
	font-size:16px;
	font-family: 'Encode Sans Condensed', sans-serif;
	text-align: center;
}

.txt1 p{
	color: #00b33c;
}

h2 {
  font-size: 26px;
  font-family: 'Encode Sans Condensed', sans-serif;
}

h2 {
	color: #00b33c;
	margin: 0;
}

.miolo {
	margin-bottom: 500px;
}
.carousel-content {
    color:black;
    display:flex;
    text-align: center;
    align-items:center;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

#myCarousel_ {
  width: 100%;
  height: auto;
  padding: 50px;
}

.margin {
	margin-top: 300px;
}
.row .glyphicon {
	font-size: 26px;
}
.intros {
	margin-top: 60px;	
	margin-bottom: 30px;
}
#consultas {
	margin-left: 550px;
	display: inline-block;
}

#profissionais{
	display: inline-block;
}

.car {
    margin-top: 10px;
    margin-bottom: 10px;
}

.textShow {
	text-align: center;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}